{% extends '@EasyAdmin/layout.html.twig' %}
{% block content %}
    <div class="jumbotorn">
        <h1 class="display-4">Administation</h1>
        <p class="lead">Bienvenue dans l'interface d'administation de votre site </p>
    </div>
	
{% endblock %}